# Django
DJANGO_ENV=development
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_LOG_LEVEL=INFO

# MySQL
DB_NAME=exam_portal_db
DB_USER=exam_portal_user
DB_PASSWORD=change_this_password
DB_HOST=127.0.0.1
DB_PORT=3306
DB_CONN_MAX_AGE=0

# Docker Compose (only used by mysql container)
MYSQL_ROOT_PASSWORD=root_password_change_me
